
<% layout('layout') -%>


<div class="container mt-4 myContent">
  <main role="main" >
    <div class="row">
      <div class="col">
        <div class="alert alert-warning text-center">
          <strong>Warning: </strong> THIS PAGE IS FOR ADMIN PURPOSES ONLY!!!!!.
        </div>
        <hr class="featurette-divider">
        <h1>Orders</h1>
        <div class="table-responsive-sm">
          <!-- <table class="table-table-stripped"> -->
          <table class="table table-stripped">
            <thead>
              <tr>
                <th>Id</th>
                <th>Order</th>
                <th>Total</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <% orders.forEach(function(order){ %>
                <tr>
                  <td><%= order._id %></td>
                  <td><%= order.order %></td>
                  <td>$<%= order.total %></td>
                  <td>
                    <a href="/order/<%= order._id%>" class="btn btn-primary">Update</a>
                    <a href="/order/delete/<%= order._id%>" class="btn btn-danger">Delete</a>
                  </td>
                </tr>
              <% }) %>
            </tbody>
          </table>
        </div>

      </div>
    </div>
            <div class="alert alert-success text-center">
              <strong>Notice: </strong> Thank you for shopping with us, your order was successful.
            </div>
  </main>
</div>
<hr class="featurette-divider">